<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1>GestorClientes</h1>
      </div>
      <div class="row">
        <button on-click="obtenerClientes" type="button" name="button" class="btn btn-success">obtener clientes</button>
      </div>
      <div class="row">
        <button on-click="insertarCliente" type="button" name="button" >insertar clientes</button>
      </div>
      <div class="row">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>idCliente</th>
              <th>Nombre</th>
              <th>Apellido</th>
            </tr>
          </thead>
          <tbody >
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>[[item.idCliente]]</td>
                <td>[[item.nombre]]</td>
                <td>[[item.apellido]]</td>

              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }

        };
      }
      obtenerClientes () {
        //var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var url = "http://localhost:3002/Clientes";
        var request = new XMLHttpRequest();
        request.open("GET", url, false);
        request.setRequestHeader("Accept","application/json" );
        request.send();

        this.clientes = JSON.parse(request.responseText);
        console.log(this.respuesta);
      }
      insertarCliente() {
        var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";

        var request = new XMLHttpRequest();
        request.open("POST", url, false);
        request.setRequestHeader("Accept","application/json" );
        request.setRequestHeader("Content-Type", "application/json");

        var nuevoCliente = {"CustomerID": "12345", "ContactName": "Pepe", "CompanyName": "Pepes Var"};
        var body = JSON.stringify(nuevoCliente);

        request.send(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta);
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
