<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <img src="https://as2.ftcdn.net/jpg/00/72/77/79/500_F_72777900_PuZflEq56bzqNr7SqGq2X59MsfC9aDPp.jpg" alt="" width="200px" height="200px">
      </div>
      <div class="row">
        <button on-click="incrementar" type="button" name="button" class="btn btn-success"> cargar datos</button>
      </div>
      <div class="row">
        <span>Data binding - enlazado de datos</span>
        <br></br>
        Bidireccional (two-ways)<input type="text" name="" value="{{prop1::input}}">
        <p></p>
        Unidireccional (one-way)
        <p></p>
        <input type="text" name="" value="[[prop1]]">
      </div>
      <div class="row">
        <table class="table table-striped">
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
          </thead>
          <tbody>
            <tr>
              <td>[[prop2]]</td>
              <td>Selena</td>
              <td>Mora</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Elena</td>
              <td>Nito</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-visor'
          },
          prop2: {
            type: Number,
            value: 999
          },
          prop3: {
            type: String,
            value: "Proporcione su usuario"
          }
        };
      }
      incrementar () {
        this.prop2 += 1;
        console.log("pop1" + this.prop1);
        console.log("prop2" + this.prop2);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
